<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.easyfilepicker">

    <!-- Write Files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:supportsRtl="true">


        <activity android:name=".activity.ImagePickActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/BaseTheme"
                  android:hardwareAccelerated="false" />

        <activity android:name=".activity.NormalFilePickActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/BaseTheme"
                  android:hardwareAccelerated="false" />

        <activity android:name=".activity.AudioPickActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/BaseTheme"
                  android:hardwareAccelerated="false" />

        <activity android:name=".activity.VideoPickActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/BaseTheme"
                  android:hardwareAccelerated="false" />

        <!--android:theme="@style/FilePickerTheme"-->

        <provider
                android:name=".LocalStorageProvider"
                android:authorities="${applicationId}.localstorage.documents"
                android:enabled="false"
                android:exported="true"
                android:grantUriPermissions="true"
                android:permission="android.permission.MANAGE_DOCUMENTS" >
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

    </application>
</manifest>
